<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Caroline Tobler | My Hobbies</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: MyResume
    * Updated: Jan 29 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
        .icon-box img {
            max-width: 100%; /* ensures the image is never wider than the container */
            height: auto; /* maintains the aspect ratio */
            display: block; /* removes any extra space below the image */
        }

        h1, .typed {
            color: black;
        }
    </style>

</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Baking</h2>
                    <p>Baking has become a significant part of my life, a hobby I've come to cherish. It's more than just a culinary pursuit; it's a form of artistic expression in my kitchen. There's something comforting about the aroma of freshly baked goods wafting through the house, a familiar and soothing presence. Sharing my creations with friends and family brings a sense of fulfillment, and the act of baking itself is a meditative experience. Experimenting with different ingredients and techniques allows me to explore the vast world of flavors and textures, constantly challenging my skills. In essence, baking has become my personal journey of culinary exploration and a way to connect with others through a shared love of good food.</p>
                </div>
            </div>
        </section>

               
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Some of My Favorite Recipes</h2>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <!-- Place the image inside the "iconbox-blue" div -->
                            <img src="~/img/chocolate2.png" alt="Your Image Description">
                            <h4><a href="">Hershey's Chocolate Cake</a></h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <!-- Place the image inside the "iconbox-blue" div -->
                            <img src="~/img/cookies2.png" alt="Your Image Description">
                            <h4><a href="">Classic Chocolate Chip Cookies</a></h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <!-- Place the image inside the "iconbox-blue" div -->
                            <img src="~/img/cupcakes2.png" alt="Your Image Description">
                            <h4><a href="">Vanilla Cupcakes</a></h4>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->

        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Concluson</h2>
                    <p>In Conclusion, Baking is a passion of mine that I look forward to continue learning and growing in my life. Baking is a big part of my life, and I'm always on the lookout for new recipes and tricks to master. As I keep baking and sharing what I make, I hope to connect with fellow enthusiasts and casual bakers alike. There's always something new just around the corner in the baking world, and I'm here for it—oven mitts ready. So, let’s keep it relaxed, have fun, and enjoy the good stuff that comes out of the kitchen.</p>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.umd.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>